.login {
    width: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 6px;

    h4 {
        color: rgba(0, 0, 0, .8);
        margin: 0 0 40px;
        font-size: 28px;
        text-align: center;
        font-weight: 500;
    }
}