<div class="login">
    <h4>登录</h4>
    <div>
        <form nz-form [formGroup]="loginForm" (ngSubmit)="doLogin()" nzLayout="horizontal">
            <nz-form-item nzFlex>
                <nz-form-control nzSpan="24">
                    <nz-input-group [nzPrefix]="userPrefixTemplate">
                        <input formControlName="name" nz-input type="text" placeholder="用户名">
                    </nz-input-group>
                    <ng-template #userPrefixTemplate><i nz-icon nzType="user" nzTheme="outline"></i></ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nzFlex>
                <nz-form-control nzSpan="24">
                    <nz-input-group [nzPrefix]="pwdPrefixTemplate">
                        <input formControlName="pwd" nz-input type="password" placeholder="密码">
                    </nz-input-group>
                    <ng-template #pwdPrefixTemplate><i nz-icon nzType="key" nzTheme="outline"></i></ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nzFlex>
                <nz-form-control nzSpan="24">
                    <label nz-checkbox>记住账号</label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nzFlex>
                <button nz-button nzType="primary" nzBlock="true" [nzLoading]="loading" (click)="doLogin()"
                        [disabled]="!loginForm.valid">登录</button>
            </nz-form-item>
        </form>
    </div>

</div>